*{
    margin: 0%;
    padding: 0%;

}
.sidenav{
    width:400px;
    height: 100vh;
    background-color: black;
    color: white;

}
p{
    padding: 15px;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 1px solid white;
}
i{
color:gray;

}
i:hover{
    color:white;
    cursor: pointer;
}